/vendor/
/.env.local
/var/
/.idea/
/.env.test
/node_modules/
/public/build/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/tests/tmp/
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
