{% macro form_group(field, newPathName) %}
    <div class="form-group row">
        <label class="col-12 col-form-label">{{ form_label(field) }}</label>
        <div class="col-12">
            {{ form_widget(field) }}
        </div>
        {% if newPathName is not null %}
            <div class="col-sm-1 pl-0">
                <a class="small mt-2" href="{{ newPathName }}" title="Create New">Create</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro form_field(field) %}
    <div class="form-group">
        {{ form_row(field) }}
    </div>
{% endmacro %}